doctype html
html.no-js(lang='zh-Hant-TW')

  head
    // title
    title 艾思媒體｜EYE’S LIVE CO., LTD 僅供測試
    meta(name='author', content='我那皺巴巴的心')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
    // description
    meta(name='description', content='艾思媒體致力發展原創LIVE內容及推廣網際網路製播技術發展集合台灣龐大的IP軟實力及台灣資訊產業的技術資源，讓IP(Intellectual Property)透過授權創造龐大的經濟產值，也藉由網路(Internet Protocol)邁向世界，與國際分享。')
    // keywords
    meta(name='keywords', content='媒體企劃,網路節目,直播LIVE,直播服務,網路串流,串流服務,異地連線,ENG,EFP,影片拍攝,多機作業,艾思,媒體,艾思媒體,EYE’S,Eyeslive')
    meta(itemprop='name', content='艾思媒體｜EYE’S LIVE CO., LTD')
    meta(itemprop='image', content='img1/logoicon1.png')
    meta(itemprop='description', content='艾思媒體致力發展原創LIVE內容及推廣網際網路製播技術發展，集合台灣龐大的IP軟實力及台灣資訊產業的技術資源，讓IP(Intellectual Property)透過授權創造龐大的經濟產值，也藉由網路(Internet Protocol)邁向世界，與國際分享。')
    meta(name='google-site-verification', content='ufh7pnyaEfy-5y1ac0SjUzb8XHyEGld51a3hOt8Kgls')


    link(rel='shortcut icon', href='img1/logoicon1.png')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // et line icon
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/swiper.min.css')
    link(rel='stylesheet', type='text/css', href='revolution/css/settings.css', media='screen')
    link(rel='stylesheet', type='text/css', href='revolution/css/layers.css')
    link(rel='stylesheet', type='text/css', href='revolution/css/navigation.css')
    link(rel='stylesheet', href='css/bootsnav.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/responsive.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/themify-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans') 
    link(href="http://cdn.bootcss.com/video.js/6.0.0-RC.5/alt/video-js-cdn.min.css" rel="stylesheet")
  body
    iframe(src='//aka.ms/ampembed?url=https%3A%2F%2Feyesliveconnet-jpwe.streaming.media.azure.net%2Fbc654815-69d9-43bf-bce9-122bf015a696%2F49822ce3-5778-4bf6-b833-4a6218568120.ism%2Fmanifest(format%3Dm3u8-aapl-v3)&language=zh-hant', name='azuremediaplayer', scrolling='no', frameborder='no', align='center', height='100%', width='100%',autoplay='true', allowfullscreen='')
